# Python
__pycache__/
*.pyc
venv/
.venv/
*.egg-info/

# Env / secrets
.env
*.env.local

# Docker
*.log

# Node / React
node_modules/
frontend/build/
frontend/dist/

# OS
.DS_Store

# IDE
.vscode/
.idea/
